.footer {
  background-color: #f4f4f6;
  padding-bottom: 41px;
}

.footer-title {
  margin: 0;

  a {
    font-family: $font-second;
    font-style: normal;
    font-weight: $text-regular;
    font-size: 13px;
    line-height: 15px;
    color: #a5a5a5;
    transition: all $transition-props;

    &:hover,
    &:focus {
      color: $color-orange;
    }
  }
}

.footer__wrapper {
  margin-bottom: 8px;
  padding-top: 42px;
  display: flex;
}

.footer__form {
  position: relative;
  width: 25.12%;
  min-width: 294px;
  margin-right: 13.7%;

  p {
    margin: 0;
    margin-bottom: 33px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: $text-bold;
    line-height: 17px;
    color: $color-gray;
  }

  input {
    border: none;
    padding: 9px 61px 7px 12px;
    font-family: $font-second;
    font-size: 14px;
    line-height: 17px;
    color: #a5a5a5;
    outline: none;
    cursor: pointer;
  }

  button {
    position: absolute;
    right: 0;
    background: $color-orange;
    font-family: $font-second;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 10px 17px 10px;
    border: none;
    cursor: pointer;
    outline: none;
    color: $color-white;
    z-index: 2;
    transition: all $transition-props;


    &:hover,
    &:focus {
      background-color: lighten($color-orange, 10%);
    }

    &:active {
      background-color: lighten($color-orange, 20%);
    }
  }
}


.footer__tabs {
  flex-grow: 1;
  flex-wrap: wrap;

  ul {
    margin: 0;
    padding: 0;

    >li {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

  }

  li {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;

    a {
      list-style: none;
      font-family: $font-main;
      font-size: 14px;
      font-weight: $text-regular;
      line-height: 17px;
      color: $color-gray;
      white-space: nowrap;
      transition: all $transition-props;

      &:hover,
      &:focus {
        color: $color-orange;
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 6px;
    font-family: $font-second;
    font-size: 14px;
    font-weight: $text-bold;
    line-height: 17px;
    color: $color-gray;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .footer-title {
    text-align: center;
  }

  .footer__form {
    margin: 0;
    margin-bottom: 50px;
    padding: 16px;
  }

  .footer {
    width: 100%;

    .container {
      // padding: 0;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__list {
    flex-direction: column;

    >li {
      padding: 0;
    }

    li {
      margin: 0;
      padding: 16px;
      font-size: 14px;
      border-bottom: 1px solid #d6d6d6;
      cursor: pointer;
      background-color: lighten(#f4f4f6, 1%);

      h3 {
        position: relative;
        color: #7F7F7F;
        margin: 0;
        padding: 16px;
        font-size: 16px;

        &::after {
          position: absolute;
          content: "";
          display: inline-block;
          top: 38%;
          right: 30px;
          width: 6px;
          height: 11px;
          margin-left: 5px;
          background-repeat: no-repeat;
          background-image: url("../img/arrow-link.svg");
          transform: rotate(90deg) translate(0, -50%);
          transition: all $transition-props;
        }

        &:hover {
          transition: all $transition-props;
          color: $color-orange;

          &::after {
            transform: rotate(90deg) translate(0, -50%) scale(1.4);
            transition: transform 0.5s ease;
          }
        }
      }

      &:first-of-type {
        border-top: 1px solid #d6d6d6;
      }
    }

    >li {
      padding: 0;
      background-color: #f4f4f6;
    }
  }

  .trigger--active {
    color: $color-orange;

    &::after {
      transform: rotate(-90deg) translate(0, -50%) scale(1);
    }
  }

  .js-submenu {
    display: none;
  }

  .js-submenu--active {
    display: block;
  }

  .hide {
    opacity: 0;
    transition: opacity $transition-props;
  }

  .show {
    opacity: 1;
    transition: opacity $transition-props;
  }
}

main {
  overflow-x: hidden;
}
