.search {
  margin-bottom: 80px;
}

.search__tabs {
  display: flex;
  justify-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.search__item {
  margin-right: 30px;

  a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 20px 12px;
    font-family: $font-main;
    font-weight: $text-regular;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: $color-black;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $lighten-color-gray;
    }

    &:active {
      font-weight: $text-bold;
      color: $color-gray;
      background: $color-lavender;
      border-radius: 5px;
    }
  }

  &--active {
    a {
      font-weight: $text-bold;
      color: $color-gray;
      background: $color-lavender;
      border-radius: 5px;
    }
  }
}

.search__form {
  position: relative;
  display: none;

  input {
    z-index: 1;
    width: 100%;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 19px;
    color: $color-dim-gray;
    background-color: $color-lavender;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all $transition-props;
    outline: none;

    &:hover,
    &:focus {
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    }
  }

  button {
    position: absolute;
    right: 0;
    z-index: 2;
    padding: 15px 40px 17px;
    font-family: $font-second;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: $color-white;
    background: $color-orange;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all $transition-props;

    &:hover,
    &:focus {
      background-color: lighten($color-orange, 10%);
    }

    &:active {
      background-color: lighten($color-orange, 20%);
    }
  }

  &--active {
    display: block;
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .search__tabs {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    min-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .search__item {
    &--active {
      a {
        background: $color-white;
        border-bottom: 2px solid $color-orange;
        border-radius: 0;
      }
    }
  }

  .search__form {
    button {
      width: 20px;
      height: 100%;
      font-size: 0;
      line-height: 0;
      background: url("../img/search-icon.svg") no-repeat;
      background-position: center;
    }
  }
}
