$color-gray: #48494d;
$lighten-color-gray: lighten($color-gray, 20%);
$color-orange: #ff7931;
$color-light-gray: #C4C4C4;
$color-white: #ffffff;

// sizes
$width-mobile: 320px;
$width-big-mobile: 360px;
$width-tablet: 768px;
$width-big-tablet: 960px;
$width-laptop: 1024px;
$width-big-laptop: 1250px;
$width-predesktop: 1380px;
$width-desktop: 1440px;
$full-hd-width: 1920px;

$lg-container: 1322px;
$sm-container: 635px;

// typography
$font-main: "Barlow",
"Arial",
sans-serif;
$font-second: "Proxima Nova",
"Arial",
sans-serif;

$text-regular: 400;
$text-medium: 500;
$text-bold: 700;

$base-text-size: 20px;
$base-line-height: 24px;
$h1-text-size: 30px;
$h1-line-height: 36px;
$h2-text-size: 32px;
$h2-line-height: 44px;
$h3-text-size: 19px;
$h3-line-height: 29px;
$h4-text-size: 16px;
$h4-line-height: 24px;


// transitions
$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition-props: $transition-duration $transition-timing-function;

// opacity
$hover-opacity: 0.8;
$focus-opacity: 0.8;
$active-opacity: 0.5;
